# Geospatial Data Analysis Lab: Steel Plants Dataset


**(15/10/2025) Learning Objectives:**
- Perform exploratory data analysis (EDA) on geospatial datasets
- Visualize geospatial data using interactive maps with Plotly
- Merge environmental data with asset locations
- Aggregate data at the company level
- Integrate geospatial visualizations into a Streamlit dashboard

---

## Part 1: Setup and Data Loading

Import the necessary libraries and load the steel plants dataset.

In [47]:
# Import required libraries
# - pandas for data manipulation
# - numpy for numerical operations
# - plotly.express and plotly.graph_objects for interactive visualizations
# - Any other libraries you might need

import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [48]:
# Load the steel plants dataset
# Expected columns: plant_id, plant_name, company, latitude, longitude, capacity, year_built, etc.

#Download the global iron and steel plant tracker dataset

df = pd.read_excel('/content/Plant-level-data-Global-Iron-and-Steel-Tracker-September-2025-V1.xlsx', sheet_name='Plant data')
df.head()

,Plant ID,Plant name (English),Plant name (other language),Other plant names (English),Other plant names (other language),Owner,Owner (other language),Owner GEM ID,Owner PermID,SOE Status,...,Steel products,Steel sector end users,Workforce size,ISO 14001,ISO 50001,ResponsibleSteel Certification,Main production equipment,Power source,Iron ore source,Met coal source
0,P100000120004,Kurum International Elbasan steel plant,Kurum Kombinati metalurgjik,NaN,NaN,Kurum International ShA,NaN,E100000130992,5037939021,NaN,...,"billet, wire rod, rebar",unknown,1000,Yes,unknown,No,EAF,"Hydraulic, integrated plants; Four hydropower ...",unknown,unknown
1,P100000120439,Algerian Qatari Steel Jijel plant,الجزائرية القطرية للصلب,AQS,NaN,Algerian Qatari Steel,NaN,E100001000957,5076384326,Partial,...,"billet, wire rod, rebar",unknown,2400,Yes,unknown,No,EAF; DRI,unknown,unknown,unknown
2,P100000120442,ETRHB Annaba steel plant,NaN,NaN,NaN,ETRHB Industrie SpA,NaN,E100001010275,5074513855,NaN,...,unknown,unknown,2000,unknown,unknown,No,EAF,unknown,unknown,unknown
3,P100000121198,Ozmert Algeria steel plant,NaN,NaN,NaN,Ozmert Algeria SARL,NaN,E100001012196,unknown,NaN,...,unknown,unknown,unknown,unknown,unknown,No,EAF; DRI,unknown,Alwaznah and Bu Khadhrah mines,Bechar
4,P100000120440,Sider El Hadjar Annaba steel plant,مركب الحجار للحديد والصلب,"ArcelorMittal Annaba (predecessor), El Hadjar ...",NaN,Groupe Industriel Sider SpA,NaN,E100001000960,5000941519,Full,...,"coil, rebar, sheet",unknown,5748,unknown,unknown,No,BF; BOF; EAF; DRI,unknown,unknown,unknown

---
## Part 2: Exploratory Data Analysis (15 minutes)

Answer the following questions through your analysis:

### Question 1: Data Overview
**Task:** Display basic information about the dataset.
- How many steel plants are in the dataset?
- What are the column names and data types?
- Are there any missing values?

In [49]:
# Display dataset shape

df.shape

(1209, 44)

In [50]:
# Display column information and data types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 44 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Plant ID                            1209 non-null   object
 1   Plant name (English)                1209 non-null   object
 2   Plant name (other language)         697 non-null    object
 3   Other plant names (English)         702 non-null    object
 4   Other plant names (other language)  287 non-null    object
 5   Owner                               1209 non-null   object
 6   Owner (other language)              554 non-null    object
 7   Owner GEM ID                        1209 non-null   object
 8   Owner PermID                        1209 non-null   object
 9   SOE Status                          202 non-null    object
 10  Parent                              1209 non-null   object
 11  Parent GEM ID                       1209 non-null   object
 12  Parent PermID                       1209 non-null   object
 13  Location address                    1209 non-null   object
 14  Municipality                        1209 non-null   object
 15  Subnational unit (province/state)   1209 non-null   object
 16  Country/Area                        1209 non-null   object
 17  Region                              1209 non-null   object
 18  Other language location address     445 non-null    object
 19  Coordinates                         1209 non-null   object
 20  Coordinate accuracy                 1208 non-null   object
 21  GEM wiki page                       1209 non-null   object
 22  Plant age (years)                   1142 non-null   object
 23  Announced date                      1209 non-null   object
 24  Construction date                   1209 non-null   object
 25  Start date                          1209 non-null   object
 26  Pre-retirement announcement date    1209 non-null   object
 27  Idled date                          1209 non-null   object
 28  Retired date                        1209 non-null   object
 29  Ferronickel capacity (ttpa)         584 non-null    object
 30  Sinter plant capacity (ttpa)        725 non-null    object
 31  Coking plant capacity (ttpa)        594 non-null    object
 32  Pelletizing plant capacity (ttpa)   718 non-null    object
 33  Category steel product              1209 non-null   object
 34  Steel products                      1209 non-null   object
 35  Steel sector end users              1209 non-null   object
 36  Workforce size                      1209 non-null   object
 37  ISO 14001                           1209 non-null   object
 38  ISO 50001                           1209 non-null   object
 39  ResponsibleSteel Certification      1209 non-null   object
 40  Main production equipment           1209 non-null   object
 41  Power source                        1209 non-null   object
 42  Iron ore source                     1208 non-null   object
 43  Met coal source                     1209 non-null   object
dtypes: object(44)
memory usage: 415.7+ KB

In [51]:
# Check for missing values
df.isnull().sum()

Plant ID                                 0
Plant name (English)                     0
Plant name (other language)            512
Other plant names (English)            507
Other plant names (other language)     922
Owner                                    0
Owner (other language)                 655
Owner GEM ID                             0
Owner PermID                             0
SOE Status                            1007
Parent                                   0
Parent GEM ID                            0
Parent PermID                            0
Location address                         0
Municipality                             0
Subnational unit (province/state)        0
Country/Area                             0
Region                                   0
Other language location address        764
Coordinates                              0
Coordinate accuracy                      1
GEM wiki page                            0
Plant age (years)                       67
Announced date                           0
Construction date                        0
Start date                               0
Pre-retirement announcement date         0
Idled date                               0
Retired date                             0
Ferronickel capacity (ttpa)            625
Sinter plant capacity (ttpa)           484
Coking plant capacity (ttpa)           615
Pelletizing plant capacity (ttpa)      491
Category steel product                   0
Steel products                           0
Steel sector end users                   0
Workforce size                           0
ISO 14001                                0
ISO 50001                                0
ResponsibleSteel Certification           0
Main production equipment                0
Power source                             0
Iron ore source                          1
Met coal source                          0
dtype: int64

### Question 2: Statistical Summary
**Task:** Generate descriptive statistics for numerical columns.
- What is the average plant capacity?
- What is the range of latitudes and longitudes?
- What is the distribution of plant ages?

In [52]:
# Display descriptive statistics
df.columns

Index(['Plant ID', 'Plant name (English)', 'Plant name (other language)',
       'Other plant names (English)', 'Other plant names (other language)',
       'Owner', 'Owner (other language)', 'Owner GEM ID', 'Owner PermID',
       'SOE Status', 'Parent', 'Parent GEM ID', 'Parent PermID',
       'Location address', 'Municipality', 'Subnational unit (province/state)',
       'Country/Area', 'Region', 'Other language location address',
       'Coordinates', 'Coordinate accuracy', 'GEM wiki page',
       'Plant age (years)', 'Announced date', 'Construction date',
       'Start date', 'Pre-retirement announcement date', 'Idled date',
       'Retired date', 'Ferronickel capacity (ttpa)',
       'Sinter plant capacity (ttpa)', 'Coking plant capacity (ttpa)',
       'Pelletizing plant capacity (ttpa)', 'Category steel product',
       'Steel products', 'Steel sector end users', 'Workforce size',
       'ISO 14001', 'ISO 50001', 'ResponsibleSteel Certification',
       'Main production equipment', 'Power source', 'Iron ore source',
       'Met coal source'],
      dtype='object')

In [53]:
capacities = pd.read_excel('/content/Plant-level-data-Global-Iron-and-Steel-Tracker-September-2025-V1.xlsx', sheet_name='Plant capacities and status')
capacities.columns

Index(['Plant ID', 'Plant name (English)', 'Plant name (other language)',
       'Country/Area', 'Status', 'Start date',
       'Nominal crude steel capacity (ttpa)',
       'Nominal BOF steel capacity (ttpa)',
       'Nominal EAF steel capacity (ttpa)',
       'Nominal OHF steel capacity (ttpa)',
       'Other/unspecified steel capacity (ttpa)',
       'Nominal iron capacity (ttpa)', 'Nominal BF capacity (ttpa)',
       'Nominal DRI capacity (ttpa)',
       'Other/unspecified iron capacity (ttpa)'],
      dtype='object')

In [54]:
capacities['Nominal crude steel capacity (ttpa)'] = capacities['Nominal crude steel capacity (ttpa)'].apply(lambda x: pd.to_numeric(x, errors="coerce"))
print('Nominal crude steel capacity (ttpa)', capacities['Nominal crude steel capacity (ttpa)'].mean())

Nominal crude steel capacity (ttpa) 2380.206188579017

In [56]:
df[['Sinter plant capacity (ttpa)', 'Pelletizing plant capacity (ttpa)', 'Coking plant capacity (ttpa)']] = df[['Sinter plant capacity (ttpa)', 'Pelletizing plant capacity (ttpa)', 'Coking plant capacity (ttpa)']].apply(lambda x: pd.to_numeric(x, errors="coerce"))
print('average Sinter plant capacity (ttpa)', df['Sinter plant capacity (ttpa)'].mean())
print('average Pelletizing plant capacity (ttpa)', df['Pelletizing plant capacity (ttpa)'].mean())
print('average Coking plant capacity (ttpa)', df['Coking plant capacity (ttpa)'].mean())

average Sinter plant capacity (ttpa) 4386.268156424581
average Pelletizing plant capacity (ttpa) 3452.7272727272725
average Coking plant capacity (ttpa) 1573.0616438356165

In [58]:
df[['lat', 'lon']] = df['Coordinates'].str.split(',', expand=True)
df['lat'] = df['lat'].astype(float)
df['lon'] = df['lon'].astype(float)

In [59]:
print('Range of latitudes', df['lat'].max() - df['lat'].min())
print('Range of longitudes', df['lon'].max() - df['lon'].min())

Range of latitudes 105.020475
Range of longitudes 297.891697

In [61]:
df_merged = pd.merge(df, capacities, on="Plant ID", how="outer")
df_merged.head()

,Plant ID,Plant name (English)_x,Plant name (other language)_x,Other plant names (English),Other plant names (other language),Owner,Owner (other language),Owner GEM ID,Owner PermID,SOE Status,...,Start date_y,Nominal crude steel capacity (ttpa),Nominal BOF steel capacity (ttpa),Nominal EAF steel capacity (ttpa),Nominal OHF steel capacity (ttpa),Other/unspecified steel capacity (ttpa),Nominal iron capacity (ttpa),Nominal BF capacity (ttpa),Nominal DRI capacity (ttpa),Other/unspecified iron capacity (ttpa)
0,P100000120001,Emsteel Abu Dhabi plant,Emirates Steel Arkan,ESI,حديد الإمارات أركان,Emsteel Building Materials PJSC,NaN,E100001016181,4298008642,Partial,...,2003,3600.0,NaN,3600,NaN,NaN,4200,NaN,4200,NaN
1,P100000120002,BILDCO Abu Dhabi steel plant,NaN,NaN,NaN,Abu Dhabi National for Building Materials Co PJSC,شركة أبوظبي لمواد البناء,E100000130760,4295945522,NaN,...,unknown,1000.0,NaN,1000,NaN,NaN,NaN,NaN,NaN,NaN
2,P100000120004,Kurum International Elbasan steel plant,Kurum Kombinati metalurgjik,NaN,NaN,Kurum International ShA,NaN,E100000130992,5037939021,NaN,...,1998,700.0,NaN,700,NaN,NaN,NaN,NaN,NaN,NaN
3,P100000120005,Aceria Angola Bengo steel plant,NaN,ADA Steel,NaN,Ada - Aceria De Angola SA,NaN,E100000131097,unknown,NaN,...,2015,500.0,NaN,NaN,NaN,500,NaN,NaN,NaN,NaN
4,P100000120006,ArcelorMittal Acindar Villa Constitución steel...,Planta siderúrgica Acindar,NaN,NaN,Acindar Industria Argentina de Aceros SA,NaN,E100001010109,4295856032,NaN,...,1946,2000.0,NaN,2000,NaN,NaN,600,NaN,600,NaN

### Question 3: Geographic Distribution
**Task:** Analyze the geographic distribution of steel plants.
- Which countries/regions have the most steel plants?
- What is the distribution of plants by company?

In [66]:
# Count plants by country/region
capacities.drop_duplicates(subset=['Plant ID'], inplace=True)
capacities['Country/Area'].value_counts()

Country/Area
China            404
India            108
United States     87
Iran              47
Japan             42
                ...
Qatar              1
Sri Lanka          1
Slovenia           1
Singapore          1
Uganda             1
Name: count, Length: 89, dtype: int64

In [ ]:
capacities['Country/Area'].value_counts()

In [72]:
# Count plants by company
import re

companies_plants = {}
for index, row in df.iterrows():
    companies = row['Parent'].split(';')
    for company in companies:
        match = re.search(r'\[([^\[]+)\s*\[([\d\.]+)%\]', company)
        name = match.group(1).strip()
        percentage = float(match.group(2))
        if name in companies_plants:
            companies_plants[name] += percentage
        else:
            companies_plants[name] = percentage

AttributeError: 'NoneType' object has no attribute 'group'

In [71]:
df['Parent'].str.split('[', expand=True)

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,Kurum International ShA,100.0%],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Industries Qatar QPSC,49.0%]; unknown,5.0%]; Groupe Industriel Sider SpA,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,ETRHB Industrie SpA,100.0%],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,Ozmert Algeria SARL,100.0%],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,Groupe Industriel Sider SpA,100.0%],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1204,Viet Nam Steel Corp,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1205,Xuan Thien Group JSC,100.0%],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1206,Xuan Thien Group JSC,100.0%],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1207,Berhard Development Corporation (Private) Ltd,100.0%],None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1208,TSINGSHAN Holding Group Co Ltd,40.3%]; unknown,24.5%]; Shanghai Decent Investment (Group) Co ...,23.7%]; Zhejiang Qingshan Business Management ...,11.5%],None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

### Question 4: Capacity Analysis
**Task:** Analyze the capacity distribution.
- What is the total global steel production capacity?
- Which companies have the highest total capacity?
- How does capacity vary by region?

In [ ]:
# Calculate total capacity

In [ ]:
# Group by company and sum capacity

---
## Part 3: Geospatial Visualization with Plotly (15 minutes)

Create interactive maps to visualize the steel plants' locations and characteristics.

### Exercise 1: Basic Scatter Map
**Task:** Create a scatter map showing all steel plant locations.
- Use latitude and longitude for positioning
- Color points by country or region
- Add hover information showing plant name, company, and capacity

In [ ]:
# Create a scatter_geo or scatter_mapbox plot
# Hint: Use plotly.express.scatter_geo() or scatter_mapbox()

### Exercise 2: Sized Markers by Capacity
**Task:** Create a map where marker size represents plant capacity.
- Larger markers for higher capacity plants
- Color by company
- Include interactive hover details

In [ ]:
# Create scatter map with size parameter based on capacity

### Exercise 3: Density Heatmap
**Task:** Create a density map showing concentration of steel plants.
- Use Plotly's density_mapbox to show clustering
- Identify regions with high plant density

In [ ]:
# Create density heatmap
# Hint: Use plotly.express.density_mapbox()

---
## Part 4: Merging Environmental Data with Assets

Integrate environmental data (e.g., air quality, emissions, proximity to water sources) with steel plant locations.

### Exercise 1: Load Environmental Data
**Task:** Load the environmental dataset and inspect it.

- [Litpop database](https://www.research-collection.ethz.ch/entities/researchdata/12dcfc4f-9d03-463a-8d6b-76c0dc73cdc8)

- Expected columns: location_id, latitude, longitude, population density, activity etc.

In [ ]:
# Load environmental data

In [ ]:
# Inspect environmental data

### Exercise 2: Spatial Join or Nearest Neighbor Matching
**Task:** Merge environmental data with steel plants based on geographic proximity.
- Use nearest neighbor matching or spatial join
- Consider using geopandas for distance calculations
- Match each plant to the nearest environmental monitoring station

In [ ]:
# Calculate distances or perform spatial join
# Hint: You might calculate haversine distance or use a spatial library

In [ ]:
# Merge datasets

### Exercise 3: Visualize Merged Data
**Task:** Create a map showing steel plants colored by environmental metrics.
- Color plants by air quality index or other environmental indicators
- Size by capacity
- Add hover details with both plant and environmental information

In [ ]:
# Create visualization of merged data

---
## Part 5: Company-Level Aggregation

Aggregate data at the company level to analyze corporate footprints.

### Exercise 1: Aggregate Metrics by Company
**Task:** Group plants by company and calculate aggregate metrics.
- Total capacity per company
- Number of plants per company
- Average environmental metrics per company
- Geographic spread (e.g., number of countries)

In [ ]:
# Group by company and aggregate

### Exercise 2: Company Headquarters or Centroid
**Task:** Calculate a representative location for each company.
- Option 1: Use the centroid of all plant locations
- Option 2: Use the location of the largest plant
- Option 3: Assign actual headquarters coordinates

In [ ]:
# Calculate company representative locations

### Exercise 3: Visualize Company-Level Data
**Task:** Create a map showing companies with aggregated metrics.
- Show one marker per company at the representative location
- Size by total capacity
- Color by average environmental impact
- Hover information with company summary statistics

In [ ]:
# Create company-level visualization

---
## Part 6: Streamlit Dashboard Integration

Prepare your visualizations for deployment in a Streamlit dashboard.

### Exercise 1: Create Dashboard Script Structure
**Task:** Create a Streamlit app file (`dashboard.py`) with the following structure:

```python
# Import streamlit and other necessary libraries

# Set page configuration

# Title and description

# Sidebar for filters
# - Company selector
# - Region/country filter
# - Capacity range slider

# Main content area
# - KPI metrics (total plants, total capacity, etc.)
# - Interactive map
# - Data table

# Footer with data sources and notes
```

### Exercise 1: Prepare Data for Dashboard
**Task:** Save your processed data to files that the dashboard will load.
- Export cleaned plant data
- Export merged environmental data
- Export company-level aggregations
- Save as CSV or Parquet for efficient loading

In [ ]:
# Save processed datasets

### Exercise 2: Display relevant information from your exploratory analysis into the dashboard

In [ ]:
# This cell is for notes/observations about your dashboard
# What works well?
# What could be improved?
# Any performance issues with large datasets?

---
## Lab Summary and Key Takeaways

**What you learned:**
- How to perform EDA on geospatial datasets
- Creating interactive maps with Plotly for geospatial data
- Merging spatial datasets based on geographic proximity
- Aggregating geospatial data at different levels (asset vs. company)
- Building interactive dashboards with Streamlit

**Next Steps:**
- Explore other geospatial libraries (GeoPandas, Folium, Kepler.gl)
- Learn about coordinate reference systems (CRS) and projections
- Practice with other datasets (buildings, utilities, transportation)
- Deploy your dashboard to Streamlit Cloud or other hosting services